/* carousel */

.container {
    max-width: 1442px;
    padding: 0 40px;
    margin: 0 auto;
}

.cs_hidden {
    display: flex;
}

.carousel {
    margin-bottom: 100px;
}

.carousel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.title {
    color: #FFF;
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
}

.title span {
    color: #FFE76B;
}

.Schedule {
    color: #8194AA;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    transition: all 0.3s;
}

.Schedule:hover {
    color: #8194AA;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    color: #FFE76B;
}

.box {
    width: 290px;
    height: 420px;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid #ABABAB;
    overflow: hidden;
    margin-right: 40px;
    display: flex;
    justify-content: flex-end;
    transition: border 0.3s;
}

.box:hover {
    border: 2px solid #FFE76B;
}

.slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.slick-slide {
    width: 290px; /* Ширина слайда */
    height: 420px; /* Высота слайда */
  }
  